<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748695665005-gjhvpg2f6pnq7usr5taem8ikdh4rjesg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748695665005-gjhvpg2f6pnq7usr5taem8ikdh4rjesg</string>
	<key>API_KEY</key>
	<string>AIzaSyBba7nEImYJD7_RLn0hJ4wLFtK46mEd9Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>748695665005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseRealtimeDb</string>
	<key>PROJECT_ID</key>
	<string>real-time-database-16636</string>
	<key>STORAGE_BUCKET</key>
	<string>real-time-database-16636.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748695665005:ios:530331fc427ba044ba8264</string>
</dict>
</plist>